#
# An example nagios rules file
#

#
# Algorithms include:
#   first	first rule to match
#   last	last rule to match
#
option matching first

#
# Rules are tested in the order they occur in this file.
#

# "pattern" rules use fnmatch for filename-like string matching:
#   since warn and crit are integer values (not float) without a
#   percent sign, they are integer count thresholds
include pattern=MATLAB:*:* warn=200 crit=240

# "string" rules use basic string comparison (strcmp) to match:
#   a fractional value (warn) and a percentage (crit) are
#   percentage-based thresholds
include string=Simscape:MLM:38 warn=0.50 crit=80%

# "regex" rules use extended regular expression matching
#   an unspecified warn or crit threshold on a rule implies
#   the default threshold will be applied
exclude regex=^(Bioinformatics|Database|Compiler)

# This is a match-everything rule; without it, anything not
# matched by above rules would not be included in checks
include	pattern=*

